// Config
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
:root{
    --font-f:  'Roboto Slab', serif;
    --font-s-lg: 18px;
    --font-s-md: 13px;
    --font-s-sm: 12px;
    --font-title: 15px;
    --font-w-regular: 400;
    --font-w-medium: 500;
    --font-w-bold: 700;
    --cl-text: #f0f0f0;
    --cl-hover: #fff;
}

*{
    font-family: var(--font-f);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

ol, ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

.bg-grayscale{
    background: #f5f5f5;;
}

.bd-transparent{
    background: transparent;
}

.text-animate{
    color: #000;
    transition: all .2s;
    &:hover{
        color: var(--primary);
    }
}

.main-title{
    font-weight: 600;
}

.custom-scrollbar-js,
.custom-scrollbar-css {
  min-height: 200px;
  max-height: 400px;
}


/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: auto;
  overflow-x: auto;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #262626;
  background-image: linear-gradient(to top, #525252 0%, #a0a0a0 100%);
}

.bd-none{
    border: none;
}
div.card-text{
    font-size: .9rem !important;
}
.cs-point{
    cursor: pointer;
}

.time{
    display: flex;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bdr-none{
    border-radius: 0;
}

.bdr-3{
    border-radius: 3px;
}

.bdr-4{
    border-radius: 4px;
}

.bdr-5{
    border-radius: 5px;
}

.material-icons.md-13{
    font-size: var(--font-s-sm);
}

.material-icons.md-15{
    font-size: 15px;
}

.material-icons.md-24{
    font-size: 24px;
}

.material-icons.md-32{
    font-size: 32px;
}
.material-icons.md-18{
    font-size: var(--font-s-lg);
}

.btn-outline-warning:hover{
    color: #fff !important;
}

.btn-custom {
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.5s ease;
    color: #cd2122;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    margin-left: auto;
    &:hover {
      background-color: #cd2122;
      color: #fff;
    }
  }


.header{
    width: 100%;
    background-color: #191c51;
    .heading{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    a.logo{
        img{
            border-radius: 50%;
            margin-right: 10px;
        }
        .content{
            .school{
                font-size: 1.3rem;
                font-weight: 600;
            }
            color: #fff;
            display: flex;
            flex-direction: column;

        }
        text-decoration: none;
        align-items: center;
        display: flex;
    }
    .navbar{
        ul{
            li{
                a.nav-link{
                    transition: all .3s ease-in-out;
                    color: #fff;
                }                
            }
            .dropdown:hover>.dropdown-menu {
                display: block;
              }
              
              .dropdown>.dropdown-toggle:active {
                  pointer-events: none;
              }
              
        }
    }
}
.main-title{
    font-size: 1.4rem !important;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}
section.banner {
    // margin-top: 20px;
    max-width: 3000px;
  }

  section.news{
      
      .box{
        overflow: hidden;      
          .bot-box{
              display: flex;
              flex-direction: row;
              width: 100%;
              height: 100%;
              position: relative;              
              overflow-x: scroll;
              flex-wrap: nowrap;
              box-sizing: content-box;
              .card{
                  margin-right: 40px;
                  max-width: 200px;
                  min-width: 110px;
                  &-body{
                      padding: .25rem;
                  }
              }
            }
        }
        .right-box{
            width: 100%;
            ul{
                &.custom-scrollbar-css{
                    max-height: 735px;
                }
                padding: 0 15px !important;
                li{
                    margin-bottom: 15px;
                    .item-box{
                        .title{font-size: 1.05rem;}
                    }
                }
            }
        }
}

section.infomation{
    
    margin-bottom: 40px;
    .card{
        &-body{
            padding: .25rem !important;
            .card-title{
                font-size: 1.1rem;
            }
            .card-text{                
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

section.events {
    
    .card {
      background: transparent;
      a.card-title {
        text-decoration: none;
      }
      p.card-text {
        margin-top: 0.75rem !important;
      }
      &-foot {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        color: #fff;
      }
    }
  }

  section.footer{
      padding-top: 25px;
      padding-bottom: 25px;
      ul{
          padding-top: 10px !important;
          li{
            margin-bottom: 8px;
          }
      }
      a.logo{
            .fal{
                color: #000;
                font-weight: 600;
                font-size: 1.2rem;
            }
      }
      .title{
          font-size: 1.1rem;
          color: #000;
          font-weight: 600;
          text-transform: uppercase;
      }
  }
  section.copy-right{
    background-color: #191c51;
    .text-copy{
        color: #00fff3;
    }
  } 